arviz==0.11.2
backpack==0.1
backpack_for_pytorch==1.5.0
gpboost==0.7.6.2
matplotlib==3.4.2
numpy==1.22.3
pandas==1.3.3
PDPbox==0.2.1
pystan==2.19.1.1
scikit_learn==1.1.2
scipy==1.7.1
seaborn==0.11.2
statsmodels==0.12.2
torch==1.5.0+cu92
tqdm==4.64.0
